.navbar {  
    display: flex;
    text-align: center;


    color: white; 
}  

.navbar img {  
    max-width: 100%; 
    height: auto; 
    width: 100px; 
    margin-right: 1500px; 
    align-items: center;
}  


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    background: url(UEFA\ CHAMPIONS\ LEAGUE.png) no-repeat bottom center scroll;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:rgb(21, 70, 135);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:rgb(21, 70, 135);
}

.message {
    margin-top: 20px;
    text-align: center;
    color:rgb(21, 70, 135);
}
    